/frontend/
/govuk_content_api/
/panopticon/
/publisher/
/signonotron2/
/static/
/.DS_Store
/govuk_content_models/
/content_api/
/odi_content_models/
/env
/contentapi/
/courses/
/news/
/people/
/private-frontend/
/signon/
/www/
oauthcreds
/asset-manager/